
.login-page {
  background: url("https://images.unsplash.com/photo-1501594907352-04cda38ebc29?auto=format&fit=crop&w=1920&q=80")
    no-repeat center center/cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.login-card {
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, 0.701);
  padding: 30px;
  border-radius: 15px;
  width: 350px;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
  animation: fadeInUp 0.8s ease forwards;
  text-align: center;
}

.title {
  font-size: 1.8rem;
  outline: black;
  font-weight: bold;
  color: #ffffff;
}

.subtitle {
  font-size: 0.9rem;
  color: #ddd;
  margin-bottom: 20px;
}

.input-group {
  position: relative;
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 12px 110px 12px 15px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 18px;
  background-color: #ffffff;
}

.send-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  bottom: 5px;
  padding: 0 15px;
  border: none;
  background: #ff6b6b;
  color: white;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.send-btn:hover {
  background: #ff4c4c;
}

.verify-btn {
  width: 100%;
  padding: 12px;
  background: #4cafef;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s ease;
}

.verify-btn:hover {
  background: #3297e0;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.toggle-text {
  text-align: center;
  color: white;
  margin-top: 15px;
  font-size: 14px;
}

.toggle-text span {
  color: #4cafef;
  cursor: pointer;
  font-weight: bold;
}

.toggle-text span:hover {
  text-decoration: underline;
}
