.timeguide{
    /* width: 200px; */
    /* height: 100px; */
    /* border: 3px solid blue; */
    /* margin-top: 20px; */
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 16px;
    
}